fastapi
uvicorn
psycopg2-binary
sqlalchemy
alembic
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
pydantic[email]
pandas
openpyxl
python-multipart
reportlab
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
weasyprint==58.0
jinja2
python-multipart   # optional if you accept uploads
